@model IEnumerable<CategoryModel>
   

 <aside class="single_sidebar_widget post_category_widget">
        <h2 class="widget_title" style="color: #2d2d2d;">Kategoriler</h2>
        <br />
        <ul class="list cat-list">
            @foreach (var category in Model)
            {
            <li>
                <a href="#" class="d-flex">
                    <p>@category.CategoryName</p>
                    <p>(@category.Count)</p>
                </a>
            </li>
            }
        </ul>
</aside>

