@model RestaurantListModel

<div class="slider-area hero-bg3 hero-overly">
    <div class="single-slider slider-height2 d-flex align-items-end">
    </div>
</div>

<div class="popular-location border-bottom section-padding40">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Section Tittle -->
                <div class="section-tittle text-center mb-80">
                    <h2>En İyi Restoranları Keşfet!</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <div>
                    <h2>Toplamda @Model.PagingInfo.TotalItems Restoran Bulundu</h2>
                </div>
                <div class="row">
                    @foreach (var restaurant in Model.Restaurants)
                    {
                        @Html.Partial("_RestaurantItem", restaurant)
                    }
                </div>
            </div>
            <div class="col-lg-4">
                @await Component.InvokeAsync("CategoryMenu")
            </div>
            <div class="d-flex justify-content-center ml-3" page-model="@Model.PagingInfo" page-action="List"></div>
        </div>
    </div>
</div>


<!-- Popular Locations End -->
<!--? Want To work 01-->
<section class="wantToWork-area">
    <div class="container">
        <div class="wants-wrapper w-padding2">
            <div class="row align-items-center justify-content-between">
                <div class="col-xl-7 col-lg-9 col-md-8">
                    <div class="wantToWork-caption wantToWork-caption2">
                        <h2>How it works</h2>
                        <p>Let's uncover the best places to eat, drink, and shop nearest to you.</p>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4">
                    <a href="#" class="btn f-right sm-left">Explore Listing</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Want To work End -->
<!--? Our Services Start -->
<div class="our-services  border-bottom">
    <div class="container">
        <div class="row">
            <div class=" col-lg-4 col-md-6 col-sm-6">
                <div class="single-services mb-30">
                    <div class="services-ion">
                        <span>01</span>
                    </div>
                    <div class="services-cap">
                        <h5><a href="#">Find Businesses</a></h5>
                        <p>Discover & connect with great local businesses in your local neighborhood like dentists, hair stylists and more.</p>
                    </div>
                </div>
            </div>
            <div class=" col-lg-4 col-md-6 col-sm-6">
                <div class="single-services mb-30">
                    <div class="services-ion">
                        <span>02</span>
                    </div>
                    <div class="services-cap">
                        <h5><a href="#">Review Listings</a></h5>
                        <p>Discover & connect with great local businesses in your local neighborhood like dentists, hair stylists and more.</p>
                    </div>
                </div>
            </div>
            <div class=" col-lg-4 col-md-6 col-sm-6">
                <div class="single-services mb-30">
                    <div class="services-ion">
                        <span>03</span>
                    </div>
                    <div class="services-cap">
                        <h5><a href="#">Make a Reservation</a></h5>
                        <p>Discover & connect with great local businesses in your local neighborhood like dentists, hair stylists and more.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Our Services End -->
<!-- Popular Directory End -->
<!--? Popular Locations Start 01-->
<!-- Popular Locations End -->
<!--? Want To work 02-->
<section class="wantToWork-area">
    <div class="container">
        <div class="wants-wrapper w-padding2">
            <div class="row justify-content-between">
                <div class="col-xl-8 col-lg-8 col-md-7">
                    <div class="wantToWork-caption wantToWork-caption2">
                        <img src="~/app/assets/img/logo/logo2_footer.png" alt="" class="mb-20">
                        <p>
                            Users and submit their own items. You can create different packages and by connecting with your
                            PayPal or Stripe account charge users for registration to your directory portal.
                        </p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-5">
                    <div class="footer-social f-right sm-left">
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="https://bit.ly/sai4ull"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-pinterest-p"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Want To work End -->
<!--? Want To work 01-->
<section class="wantToWork-area">
    <div class="container">
        <div class="wants-wrapper">
            <div class="row align-items-center justify-content-between">
                <div class="col-xl-7 col-lg-9 col-md-8">
                    <div class="wantToWork-caption wantToWork-caption2">
                        <div class="main-menu2">
                            <nav>
                                <ul>
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="explore.html">Explore</a></li>
                                    <li><a href="pages.html">Pages</a></li>
                                    <li><a href="blog.html">Blog</a></li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4">
                    <a href="#" class="btn f-right sm-left">Add Listing</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Want To work End -->