<!--? Hero Area Start-->
<div class="slider-area hero-bg3 hero-overly">
    <div class="single-slider slider-height2 d-flex align-items-end">
        <div class="container">
            <div class="directory-details-head">
                <section class="wantToWork-area">
                    <div class="wants-wrapper w-padding3">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-xl-8">
                                <div class="details-cap d-flex">
                                    <div class="properties__caption">
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

<section class="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="contact-title text-center">Giriş Yap</h1>
            </div>
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <hr />
                <form class="form-contact contact_form" action="contact_process.php" method="post" id="contactForm" novalidate="novalidate">
                    <div class="row">

                        <div class="col-sm-12">
                            <h3>Mail Adresi:</h3>
                            <div class="form-group border">
                                <input class="form-control valid" type="email" placeholder="Mail Adresinizi Giriniz">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <h3>Şifre:</h3>
                            <div class="form-group border">
                                <input class="form-control valid" type="password" placeholder="Şifrenizi Giriniz">
                            </div>
                        </div>

                    </div>
                    <div class="form-group d-flex justify-content-sm-around align-items-center mt-3">
                        <button type="submit" class="mx-1 button button-contactForm boxed-btn">KAYIT OL</button>
                        <button type="submit" class="mx-1 button button-contactForm boxed-btn">GİRİŞ YAP</button>

                    </div>
                </form>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>
</section>